body{
    padding: 100px;
}
.welcome{
    color: #000000;
    
}
.akaash{
    color:rgb(146, 90, 146);
}
.login-1{
    color: purple;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(138, 95, 138);
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(156, 160, 160);
    
}
.deposit{
    background-color: slateblue;
}
.withdraw{ 
    background-color:lightsalmon;
}
.balance{
    background-color: orange;
}